.container {
  width: fit-content;
  height: fit-content;
  margin: 160px auto;
  display: flex;
  gap: 25px;
}

.one,
.two {
  width: 22vw;
  height: 60vh;

  border-radius: 24px;
  border: 1px solid #59595b;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  padding: 30px;
  padding-bottom: 40px;
}

.third {
  width: 24vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.thirdTop,
.thirdBottom {
  width: 100%;
  height: calc(50% - 11.5px);
  border-radius: 24px;
  border: 1px solid #59595b;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding-left: 30px;
  padding-right: 30px;
}

.number {
  font-size: 68px;
  font-weight: 600;
  color: var(--primary-color);
}

.numberName {
  font-size: 26px;
  color: aliceblue;
}

.numberDesc {
  font-size: 18px;
  color: #9d9d9d;
}

.icon {
  width: 38px;
  height: 38px;
  color: var(--primary-color);
  margin-bottom: 10px;
}