.collectionContainer {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: hsl(0, 0%, 2%);
  color: #f4f4f5;
  font-family: sans-serif;
  overflow: hidden;
}

.collectionWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-top: 0;
  width: 1000px;
  margin: 0 auto;

}

.collectionName {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tab {
  display: flex;
  gap: 10px;
}

.tabButton {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 400;
  color: #f4f4f5;
  border: 1px solid #27272a;
  border-radius: 16px;
  background: transparent;
  display: flex;
  align-items: start;
  gap: 6px;
}

.tabButton:hover {
  background: rgba(255, 255, 255, 0.08);
}

.active {
  background: rgba(255, 255, 255, 0.06);
}

.demo {
  width: 900px;
  height: 480px;
  border-radius: 24px;
  border: 1px solid #27272a;
  background-color: #0d0d0d;
  background-image: radial-gradient(#1a1a1a 1px, transparent 1px);
  background-size: 24px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 56px;
  font-weight: 600;
  position: relative;
}

.replayButton {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 8px 10px;
  border-radius: 30px;

  position: absolute;
  right: 6;
  top: 6;

  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: inherit;

  cursor: pointer;
  transition:
    transform 0.15s ease,
    background 0.2s ease;
}

.replayButton:hover {
  background: rgba(255, 255, 255, 0.12);
}

.replayButton:active {
  transform: scale(0.96);
}

.replayButton svg {
  transition: transform 0.4s ease;
}

.replayButton:hover svg {
  transform: rotate(-180deg);
}
.replayButton:active svg {
  transform: rotate(-360deg);
}

.fadingBorderTop {
  width: 100%;
  height: 1px;
  margin-top: 80px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 24px;
}

.footerContent {
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.userLink {
  color: #8b5cf6;
  text-decoration: none;
  font-weight: 500;
}

.userLink:hover {
  color: #fff;
  text-decoration: underline;
}
