:root {
  --primary-font: var(--font-red-hat-text), sans-serif;
  --primary-color: #43d6d6;
  --bg-color: #060606;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--primary-font);
  background: transparent;
  border: 1px solid #fff;
  padding: 4px;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

::selection {
  background: transparent;
  color: var(--primary-color);
}
