:root {
  --primary-color: #eab308;
  --bg-color: #060606;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: 1px solid #fff;
  padding: 4px;
}

button:hover {
  cursor: pointer;
}
