.codeblock-container {
  width: 900px;
  /* height: 480px; */
  height: auto;
  margin: 10px;
  margin-left: 0;
}

.shiki {
  width: 100%;
  height: auto;
  padding: 16px;
  border-radius: 24px;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.6;
  background-color: #0d0d0d !important;
  background-image: radial-gradient(#1a1a1a 1px, transparent 1px) !important;
  background-size: 24px 24px !important;
  border: 1px solid #27272a;
}

.shiki .line {
  display: inline-block;
  width: 100%;
  padding-left: 5px;
  position: relative;
}

.shiki .line:hover {
  background: rgba(255, 255, 255, 0.03);
}

.shiki .lineNumber {
  position: absolute;
  left: 0;
  width: 3em;
  text-align: left;
  padding-right: 1em;
  color: rgba(255, 255, 255, 0.35);
  user-select: none;
  font-variant-numeric: tabular-nums;
}

.codeblock-container {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 10;

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 8px 10px;
  border-radius: 30px;

  background: rgba(255, 255, 255, 0.06);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.12);

  cursor: pointer;
  backdrop-filter: blur(6px);
  transition:
    transform 0.15s ease,
    background 0.2s ease;
}

.copy-button:hover {
  background: rgba(255, 255, 255, 0.12);
}

.copy-button:active {
  transform: scale(0.96);
}
