#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 500px;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  position: relative;
  height: 220px;
  width: 240px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 300ms;
}

/* .card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(0, 255, 255, 0.1),
    transparent 50%
  );
  z-index: 3;
} */

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(0, 255, 255, 0.2),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  position: absolute;
  background-color: #060606;
  border-radius: inherit;
  inset: 1px;
  z-index: 2;
}

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media (max-width: 500px) {
  .card {
    height: 180px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}
