.starOnGithub {
  position: absolute;
  right: 25px;
  top: 20px;
  width: fit-content;
  height: fit-content;
}

.button {
  width: fit-content;
  display: inline-block;
  border: 1px solid var(--main-white);
  padding: 8px 16px;
  margin: 0 auto;
  border-radius: 118px;
  text-decoration: none;
  color: var(--main-white);
  font-size: 15px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 6px;
}

.button:hover {
  background: var(--main-white);
  color: black;
}
.icon {
  width: 17px;
}

.icon:hover {
  color: var(--primary-color);
}

@media (max-width: 640px) {
  .starOnGithub {
display: none;
  }
}
