.header {
  height: fit-content;
  width: 100%;
}

.headerContent {
  height: fit-content;
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.headerLogo {
  width: 200px;
  height: auto;
}

.fadingBorderTop {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 24px;
}
